beautifulsoup4==4.3.2
dj-database-url==0.4.2
Django==1.11.3
django-crispy-forms==1.4.0
django-flat-theme==1.1.4
django-markdown-deux==1.0.5
django-pagedown==0.1.1
gunicorn==19.7.1
httplib2==0.8
jsonfield==0.9.20
markdown2==2.3.1
olefile==0.44
pillow==4.0.0
psycopg2==2.7.3
PyTumblr==0.0.6
pytz==2017.2
requests==2.1.0
Unidecode==0.4.14
urllib3==1.21.1
virtualenv==15.1.0
