<nav  class=" nim-menu navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BBlog</a>
        </div>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" title="#">О ресурсе</a></li>
                <li><a href="#" title="#">Добавить статью</a></li>
                <li><a href="#" title="#">Сотрудничество</a></li>
                <li><a href="#" title="#">Кабинет</a></li>
            </ul>
        </div>
    </div>
</nav>